.item {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    scroll-snap-align: start;
}

.item__container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__text {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 600;
    color: #393c41;
    align-items: center;
    flex: 1;
}

.item__textdesc {
    font-weight: 400;
    font-size: 14px;
}

.item__lowerthird {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 68%;
}

.item__buttons {
   display: flex;
}

.item__expand {
    color: black;
    width: 100%;
    margin-top: 3%;
    justify-content: center !important;
    margin-left: 47.5%;   
}

